* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    -webkit-text-size-ajust: none;
    -webkit-user-select: none;
    background-color: #fff;
    z-index: 1;
}

.ranking-list-wrapper {
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.ranking-title {
    float: left;
    width: 100%;
    margin-left: .4rem;
    margin-top: .4rem;
    font-size: .48rem;
    color: #121e29;
    font-weight: 700;
}

.publish-info p {
    float: left;
    margin-left: .4rem;
    margin-top: .32rem;
    font-size: .4rem;
    font-weight: normal;
    color: #ccc;
}


/* 文字概述 */

.describe {
    float: left;
    width: 100%;
    margin-top: .5333rem;
}

.describe p {
    width: 86%;
    line-height: .6rem;
    margin: 0 auto;
    font-size: .3733rem;
    font-weight: normal;
    color: #3e3e3e;
    /* 首行缩紧两字 */
    text-indent: 2em;
    /* 排版 */
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
}


/* 字两端对齐排版chrome sfari */

.letter-align {
    overflow: hidden;
    text-align: justify;
}

.letter-align:after {
    display: inline-block;
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0;
}


/* ＊＊＊＊＊＊＊图片项 ＊＊＊＊＊＊＊*/

.image-item-container {
    position: relative;
    float: left;
    width: 86%;
    height: 100%;
    margin-left: 7%;
    overflow: hidden;
    z-index: 3;
}

.image-item-container ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

.image-item-container ul li {
    float: left;
    width: 100%;
    font-size: .4rem;
    font-weight: normal;
    color: #3e3e3e;
}

.image-item-container li:first-child p:first-child {
    float: left;
    margin-top: .4rem;
    font-size: .4rem;
    font-weight: normal;
    color: #3e3e3e;
}

.image-item-container li:first-child div {
    float: left;
    width: 100%;
    height: 5.36rem;
    margin-top: .4rem;
    text-align: center;
    background: url(../img/ranking-bg-1.png) no-repeat center center;
    background-size: cover;
}


/* 开发商 */

.image-item-container li:nth-of-type(2) {
    margin-top: .4rem;
}

.image-item-container li:nth-of-type(3) {
    margin-top: .2667rem;
}

.image-item-container li:nth-of-type(2) div,
.image-item-container li:nth-of-type(3) div {
    float: left;
    width: 100%;
}

.image-item-container li:nth-of-type(2) div p,
.image-item-container li:nth-of-type(2) div button,
.image-item-container li:nth-of-type(3) div p,
.image-item-container li:nth-of-type(3) div button {
    float: left;
}

.image-item-container li:nth-of-type(2) div p {
    line-height: .6rem;
}

.image-item-container li button {
    margin-top: .1133rem;
    margin-left: .4rem;
    font-size: .32rem;
    font-weight: normal;
    color: #61abff;
    border: none;
    background-color: #fff;
    /* 去点击高亮 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}


/*****Popwin-Begin*****/

.popwin-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 49;
}

.download-banner {
    position: absolute;
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 50;
}

.download-banner p {
    width: 75%;
    line-height: 0.5rem;
    color: #a8a8a8;
    word-break: normal;
    white-space: normal;
    text-align: center;
    font-size: .32rem;
}

.download-banner p:nth-of-type(1) {
    margin-top: 0.3rem;
}

button.download {
    position: absolute;
    width: 18%;
    height: .8rem;
    top: 0;
    right: .4rem;
    bottom: 0;
    margin: auto;
    border: none;
    background-color: #44b7ff;
    font-size: .5rem;
    font-weight: normal;
    color: #fff;
    border-radius: .2rem;
    -moz-border-radius: .2rem;
    -webkit-border-radius: .2rem;
}


/*****Popwin-End*****/
/*Shake style*/

.shake {
    animation: shake .5s 3;
    -webkit-animation: shake .5s 3;
    /* Safari 和 Chrome */
}

@-webkit-keyframes shake {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -8deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -8deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes shake {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -8deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -8deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


